/*--------------------------------------
   Variables
--------------------------------------*/

// Notes...

$black: rgb(0, 0, 0);

$white: rgb(255, 255, 255);

// Branding
// -------------------------------------

// Notes...

$purple: rgb(7, 15, 108); // #070f6c
$red: rgb(255, 51, 58); // #ff333a
$green: rgb(0, 153, 51); // #009933
$blue: rgb(0, 129, 242); // #0081f2
