/*--------------------------------------
   Analysts
--------------------------------------*/

// Notes...

#analysts {

	&.active {}

	.inner-wrap {}

}

		.analysts-content {

			// Adjustment to line up with other panels

			padding: 10px 0 14px 0;

			@media screen and (min-width: 800px) {

				padding: 0 0 14px 0;

			}

			// .div

				.caption {

					margin: 30px 0 10px 0;

				}

					h3 {

						margin: 0 0 (6/16)+em 0;
						@include font-size(16);
						line-height: (20/16);
						font-weight: bold;
						text-align: left;

					}

					.note {

						margin: 0 0 (6/11)+em 0;
						@include font-size(11);
						line-height: (14/11);
						font-weight: normal;
						color: lighten($black, 50%);

						&:last-of-type {

							margin: 0;

						}

					}

			table {

				width: 100%;
				margin: 0 0 30px 0;
				border-collapse: collapse;
				border-spacing: 0;

				&:last-of-type {

					margin: 0;

				}

			}

				caption {

					@include font-size(16);
					line-height: (20/16);
					font-weight: bold;
					text-align: left;

					.note {

						display: block;
						margin: (6/11)+em 0 0 0;
						@include font-size(11);
						line-height: (14/11);
						font-weight: normal;
						color: lighten($black, 50%);

					}

				}

				thead {

					tr {

						height: auto;

					}

						th {

							padding: 11px 8px 11px 8px;
							height: auto;
							line-height: (14/13);
							text-align: left;
							border-bottom: 1px solid rgb(224, 224, 224);

						}

				}

				tbody {

					tr {

						height: 36px;

					}

						th {

							padding: 11px 8px 11px 8px;
							line-height: (14/13);
							text-align: left;
							border-bottom: 1px solid rgb(224, 224, 224);

							&:first-of-type {

								padding-left: 0;

							}

						}

						td {

							padding: 11px 8px 11px 8px;
							line-height: (14/13);
							border-bottom: 1px solid rgb(224, 224, 224);

							&:first-of-type {

								padding-left: 0;

							}

						}

				}

			.table-wrapper {

				position: relative;
				margin: 0 0 0 0;
				border-left: 1px solid rgb(224, 224, 224);
				border-top: 1px solid rgb(224, 224, 224);
				border-right: 1px solid rgb(224, 224, 224);
				overflow: hidden;

				&:after {

					// content: "";
					// position: absolute;
					// right: -20px;
					// top: 0;
					// bottom: 0;
					// width: 20px;
					// background: $white;
					// box-shadow: 0 0 7px rgba($black, 0.35);
					// z-index: 1;

					@media screen and (min-width: 480px) {

						// content: none;

					}

				}

				.scrollable {

					margin-left: 160px;
					overflow: scroll;
					overflow-y: hidden;

					table {

						margin-top: 0 !important;

					}

						tr {

							height: 37px !important;

						}

							tbody {}

								th {

									position: relative;
									white-space: nowrap;
									overflow: hidden;

								}

								td {

									position: relative;
									white-space: nowrap;
									overflow: hidden;

								}

				}

				.pinned {

					position: absolute;
					left: 0;
					top: 0;
					width: 160px;
					background: $white;
					overflow: hidden;
					overflow-x: scroll;
					// border-left: 1px solid $blue;
					// border-right: 1px solid $blue;

					table {

						width: 100%;
						margin-top: 0 !important;
						border-left: none;
						border-right: none;

					}

						tbody {}

							tr {

								height: 37px !important;

							}

								th {

									position: relative;
									white-space: nowrap;
									overflow: hidden;
									// color: $white;
									background: rgb(244, 244, 244);
									padding-left: 11px;

								}

								td {

									position: relative;
									white-space: nowrap;
									overflow: hidden;
									background: rgb(244, 244, 244);
									padding-left: 11px;

									&:last-child {

										// border-bottom: 0;

									}

								}

				}

				// Need to organize...

				table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }

			}




		}
