/*--------------------------------------
   Statistics
--------------------------------------*/

// Notes...

#statistics {

	&.active {}

	.inner-wrap {

		// background: pink;

	}

}

		.statistics-content {

			// Adjustment to line up with other panels

			padding: 18px 0 14px 0;

			.note {

				width: 100%;
				margin: 0 0 (6/11)+em 0;
				@include font-size(11);
				line-height: (14/11);
				text-align: right;
				color: lighten($black, 50%);

			}

			.table-data {

				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: flex-start;
				align-content: flex-start;

			}

				.table-group {

					width: 100%;
					margin: 0 0 30px 0;

					@media screen and (min-width: 700px) {

						width: 50%;
						width: calc(50% - 20px);
						margin: 0;

					}

					&:first-of-type {

						table {

							&:first-of-type {

								caption {

									// Temporary vertical spacing fix.

									margin: 0 0 11px 0;

								}

							}

						}

					}

					&:last-of-type {

						margin: 0;

					}

				}

					table {

						width: 100%;
						margin: 0 0 30px 0;
						border-collapse: collapse;
						border-spacing: 0;

						&:last-of-type {

							margin: 0;

						}

					}

						caption {

							@include font-size(16);
							line-height: (20/16);
							font-weight: bold;
							text-align: left;

						}

						thead {

							tr {}

						}

						tbody {}

							tr {

								height: 36px;

							}

								th {

									padding-top: 11px;
									height: 47px;
									line-height: (14/13);
									text-align: left;
									border-bottom: 1px solid rgb(224, 224, 224);

								}

								td {

									line-height: (14/13);
									border-bottom: 1px solid rgb(224, 224, 224);

								}

								.td-label {}

								.td-value {

									font-weight: bold;
									text-align: right;

								}

		}
